<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="NPFISCS" connectionString="Data Source=192.168.5.203;Initial Catalog=NPFIS;User ID=NPFIS;Password=P@$$w0rd" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <add value="Loan_Management.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <customErrors mode="Off" />
    </system.web>

</configuration>
